.container {
	height: 100%;
	position: relative;

	.paginationContainer {
		width: 100%;
		position: absolute;
		bottom: 100px;
		display: flex;
		justify-content: center;
	}

	.loadingWrapper {
		height: 80%;
	}

	.emptyWrapper {
		height: 80%;
	}

	.errorWrapper {
		height: calc(100% - 67px);
	}
}
