@import '../../../../scss/global.scss';

.container {
	border-top: 1px solid rgba(0, 0, 0, 0.16);
	border-left: 1px solid rgba(0, 0, 0, 0.16);
	padding: 24px 0;
	border-radius: 35px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
	font-family: 'Montserrat', sans-serif;
	position: relative;

	.editIcon {
		position: absolute;
		right: 48px;
	}

	.deleteIcon {
		position: absolute;
		right: 24px;
	}

	.wrapper {
		@include flex-row;
		justify-content: space-between;

		.name {
			margin-left: 24px;
			cursor: pointer;
		}

		.count {
			margin-left: 24px;
			opacity: 0.5;
			font-weight: 500;
		}

		.right {
			align-self: center;
			text-align: right;
			font-weight: 500;
			margin-right: 24px;

			.edit {
				opacity: 0.5;
				margin-bottom: 6px;
			}

			.shared {
				opacity: 0.3;
				margin-top: 6px;
			}
		}
	}
}
