.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

  .wrapper {
		text-align: center;

		.text {
			font-family: 'Montserrat', sans-serif;
			color: grey;
			margin: 0;
		}
	}
}
