@import '../../../../scss/global.scss';

.header {
	position: relative;
    display: flex;
    justify-content: center;

	.items {
		position: absolute;
		top: 0;
        @include flex-row;
        width: 80%;
        justify-content: space-around;
        margin-top: 142px;

        .titleAndButton {
            .title {
                font-family: 'Montserrat', sans-serif;
                color: $white;
                font-size: 46px;
            }
            .startHereBtn {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 26px;
                padding: 12px 72px;
                color: $white;
                text-transform: uppercase;
                border: none;
                margin-top: 56px;
            }
        }
	}
}
