@import '../../scss/global.scss';

.container {
	padding: 56px 0;
	background: #0e4c91;

	h1 {
		text-align: center;
		font-family: 'Segoe UI', sans-serif;
		color: $white;
        font-size: 20px;
        font-weight: normal;
	}
}
