@import '../../scss/global.scss';

.navBar {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Segoe UI', 'Helvetica Neue';
    font-weight: bold;
    font-size: 22px;
    margin: 22px 0;
    z-index: 2000;

    ul {
        @include flex-row;
        padding: 0;
        margin: 0;
        list-style-type: none;
        justify-content: flex-end;

        .linksOuter {
            display: flex;
            align-items: center;
            .linksWrapper {
                @include flex-row;
            }
        }

        li {
            padding: 0 22px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
            }
        }

        .login {
            background: #3a0092;
            padding: 6px 30px;
            margin-right: 42px;
            border-radius: 40px;
        }
    }
}