.ql-editor {
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}

.ql-picker.ql-font .ql-picker-label[data-value='Default']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Default']::before {
	font-family: 'Times New Roman', Times, serif;
	content: 'Default' !important;
}

.ql-picker.ql-font .ql-picker-label[data-value='Roboto']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Roboto']::before {
	font-family: 'Roboto';
	content: 'Roboto' !important;
}

.ql-picker.ql-font .ql-picker-label[data-value='Raleway']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Raleway']::before {
	font-family: 'Raleway';
	content: 'Raleway' !important;
}

.ql-picker.ql-font .ql-picker-label[data-value='Montserrat']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Montserrat']::before {
	font-family: 'Montserrat';
	content: 'Montserrat' !important;
}

.ql-picker.ql-font .ql-picker-label[data-value='Lato']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Lato']::before {
	font-family: 'Lato';
	content: 'Lato' !important;
}

.ql-picker.ql-font .ql-picker-label[data-value='Rubik']::before,
.ql-picker.ql-font .ql-picker-item[data-value='Rubik']::before {
	font-family: 'Rubik';
	content: 'Rubik' !important;
}

/* Set content font-families */
.ql-font-Default {
	font-family: 'Times New Roman', Times, serif;
}
.ql-font-Roboto {
	font-family: 'Roboto';
}
.ql-font-Raleway {
	font-family: 'Raleway';
}
.ql-font-Montserrat {
	font-family: 'Montserrat';
}
.ql-font-Lato {
	font-family: 'Lato';
}
.ql-font-Rubik {
	font-family: 'Rubik';
}

.ql-picker.ql-size .ql-picker-label[data-value='20px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='20px']::before {
	content: 'Normal' !important;
	font-size: 20px !important;
}

.ql-picker.ql-size .ql-picker-label[data-value='25px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='25px']::before {
	content: 'Large' !important;
	font-size: 25px !important;
}

.ql-picker.ql-size .ql-picker-label[data-value='30px']::before,
.ql-picker.ql-size .ql-picker-item[data-value='30px']::before {
	content: 'Huge' !important;
	font-size: 30px !important;
}

.ql-container {
	border-top: 1px solid rgba(0, 0, 0, 0.16) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 35px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);

	width: 828px;
	height: 342px;
	margin-top: 14px;
}
