@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoe-ui/segoeui.woff') format('woff'), url('../fonts/segoe-ui/segoeui.woff2') format('woff2'),
		url('../fonts/segoe-ui/segoeui.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoe-ui/segoeuib.woff') format('woff'), url('../fonts/segoe-ui/segoeuib.woff2') format('woff2'),
		url('../fonts/segoe-ui/segoeuib.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoe-ui/seguisb.woff') format('woff'), url('../fonts/segoe-ui/seguisb.woff2') format('woff2'),
		url('../fonts/segoe-ui/seguisb.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

textarea:focus,
input:focus {
	outline: none !important;
}

.primary-btn {
	background-image: linear-gradient(-38.93deg, #e2c876 0%, #54dfeb 29.5%, #3f97f0 100%, #ee7a37 100%);
	border: none;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: 600;
	border-radius: 40px;
}

.submit-btn {
	background: #4346e1;
	border: none;
	cursor: pointer;
	color: white;
	font-family: 'Montserrat', sans-serif;
	border-radius: 40px;
}

.disabled-btn {
	background: #ddd;
	border: none;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
	font-family: 'Montserrat', sans-serif;
	border-radius: 40px;
}
