# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# output files
/out
src/*.class

# IDE files
/.idea

# external prerequisites
chromedriver.exe
selenium-server-standalone-3.9.1.jar